@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    /* border: 1px solid yellow; */
}

html, body {
    font-family: 'Roboto Condensed', "Helvetica","Arial", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.top {
    padding-top: 10px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.container-fluid {
    padding-top: 20px ;
}

.carousel {
    margin-bottom: 10px;
}

.news {
    margin: 25px 0 10px 0;
}

.announce {
    margin: 10px 0 10px 0;
}

.carousel-item {
    height: 50vh;
    min-height: 200px;
}

.carousel .carousel-indicators {
    margin-left: initial;
    left: initial;
    right: 50px; /*horizontal position */
    bottom: 30px; /* vertical position */   
}

.carousel .carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #914c4c;
}


/* footer CSS */
#footer hr.footer-line {
    border-top: 1px solid rgb(98, 92, 92);
    margin: 0 30px 20px 30px ;
}

#footer h6 {
    margin-bottom: -5px;
    padding-bottom: 0;
}

#footer p {
    padding-top: 0;
    margin-top: -5px;
}

/* end of footer */
